<!DOCTYPE html>
<html ng-app="nominations">
	<head>
		<link rel="stylesheet" type="text/css" href="bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="styles.css">
	</head>
	<body ng-controller="NominationsController as nominations">
		<ul class="list-group">
			<li ng-repeat="category in nominations">
				{{category.title}}
				<div ng-repeat="nominees in category.nominees">
					<input type="radio" name="nominees" value="{{nominees.title}}">
					{{nominees.title}}
				</div>
				<br/>
				
			</li>
		</ul>
		<script type="text/javascript" src="angular.min.js"></script>
		<script type="text/javascript" src="app.js"></script>
	</body>
</html>